{% extends 'base.html' %}

{% block title %}NOC-{{user.username}}{% endblock title %}

{% block page_content %}
<div class="row justify-content-center align-items-center mt-5">
    <div class="col-lg-6 col-xs-8 row">
        <div id="user_avatar" class="col-lg-4 col-xs-4 px-4">
            <div>
            <img src="{{url_for('static', filename='static_images/noc.png')}}" width="100%" class="rounded-circle">
            <i class="bi bi-cloud-upload" title="上传头像"></i>
            </div>
        </div>
        <div id="user_info" class="col-lg-8 col-xs-8">
            <div>
                <h4 class="mb-3">{{user.username}}&nbsp;
                    {%if current_user.id == user.id or current_user.can(63)%}
                    <a title="修改资料" href="{{url_for('auth.edit_profile', username=user.username )}}" >
                    <i class="bi bi-pencil-square" style="font-size: 1rem;cursor: pointer"></i>
                    </a>
                    {%endif%}
                </h4>
                <p>注册日期：{{user.register_date.date()}}</p>
                <p>已发布文章：{{user.posts.count()}}</p>
                <p>关于我：{{user.about_me|default('<空>', True)}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}