<div style="font-size:0.8rem">
    <div>
        <h1 class="fs-5">标题</h1>
        <p>使用#号表示标题，#号的数量决定标题的级别，例如#这是一级标题会显示为一级标题。</p>
    </div>
    <div>
        <h1 class="fs-5">粗体&斜体</h1>
        <p>使用*包围字体表示，如**粗体**表示<b>粗体</b>、*斜体*表示<em>斜体</em>、***粗体加斜体***表示<b><em>粗体加斜体</em></b>。</p>
    </div>
    <div>
        <h1 class="fs-5">段落和换行</h1>
        <p>行末尾两个空格+Enter表示换行，连续按两次Enter键表示新起一个段落。</p>
    </div>
    <div>
        <h1 class="fs-5">分割线</h1>
        <p>使用三个或更多的*、-或_来添加分隔线。</p>
    </div>
    <div>
        <h1 class="fs-5">引用</h1>
        <p>使用>符号来引用文本。</p>
    </div>
    <div>
        <h1 class="fs-5">列表</h1>
        <p>无序列表列表项前面使用星号*、-或+&nbsp;&nbsp;有序列表列表项前面使用数字加.。</p>
    </div>
    <div>
        <h1 class="fs-5">链接和图片‌</h1>
        <p>链接使用[说明文本](外链链接)，图片使用![图片名称](图片链接)。</p>
    </div>
    <div>
        <h1 class="fs-5">代码和代码块</h1>
        <p>使用三个反引号```来包围内容表示代码块&nbsp;&nbsp;单个反引号`表示一行代码。</p>
    </div>

</div>