{% extends 'base.html' %}

{% block title %}NOC-{{ post.title }}{% endblock title %}
{% import 'macros/model.html' as modal%}

{% block page_content %}
  <div class="row justify-content-center" id="post_detail">
    <div class="col-lg-2 col-xs-0"></div>
    <div class="col-lg-8 col-xs-10">
      <div class="mb-3" id="post_body">
        <div class="mb-3" id="post_title">
          <h1>{{ post.title }}</h1>
          <div class="mb-3" id="post_info">
            <div class="mb-3" id="post_category">
              <p title="分类">
                分类:<a class="text-decoration-none text-primary"
                        href="{% if post.category.name %}{{ url_for('post.post_category', category=post.category.name, _external=True) }}{% else %}javascript:void(0);{%endif%}">
                {{post.category.name|default('未分类', True)|capitalize|trim}}
                </a>
              </p>
              <p title="作者">
                作者:
                <a class="text-decoration-none text-primary" href="{{ url_for('auth._aboutme', user_name=post.author.username, _external=True) }}">
                  {{ post.author.username|capitalize }}
                </a>
              </p>
              <p title="发布日期">
                发布日期:&nbsp;{{ moment(post.date).format('LL')}}
              </p>
              <p title="点赞数">
                点赞数:&nbsp;<i class="bi bi-star-fill"></i>&nbsp;{{ post.stars|default(0, True)}}
              </p>
            </div>
          </div>
        </div>
        <div id="post_content" class="mb-3">
          {{ post.body_html|safe }}
        </div>
        <div id="comment_content">
          <div style="position: relative" class="mb-3">
            <textarea id="comment-input" placeholder="评论" class="form-control" rows="3" style="resize: none" data-emoji-target></textarea>
            <button class="btn">提交</button>
            <div id="noc-emoji">
              {%include 'includes/_emoji.html'%}
            </div>
          </div>
          <div id="comment">

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-xs-0 d-none d-lg-block flex-column">
      <div id="qrcode" class="p-5">
        <div id="qrcode_container"></div>
        <p style="font-size: 0.7rem">扫描二维码分享到手机</p>
      </div>
      <div id="post-control" class="position-sticky" style="top: 80%">
        {%if current_user.is_authenticated and (current_user.id == post.author.id or current_user.can(31))%}
        <div class="d-flex flex-column align-items-stretch text-body-secondary">
            <div class="post-control-label mb-3">
              <a title="编辑" id="edit" href="{{url_for('post.post_edit', id=post.id)}}" style="color: initial"><i class="bi bi-pencil-square"></i></a>
            </div>
            <div class="post-control-label mb-3">
              <a title="删除" id="delete" data-bs-toggle="modal" data-bs-target="#global-modal"><i class="bi bi-trash"></i></a>
            </div>
        </div>
        {%endif%}
      </div>
    </div>
    {{modal.render_modal('确认', '是否确认删除该文章')}}
  </div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
var noc_post = {{ post.to_json()|tojson }};
</script>
<script src="{{ url_for('static', filename = 'js/qrcode.min.js') }}" ></script>
<script src="{{ url_for('static', filename = 'js/preview_page.js') }}" defer></script>
{%endblock%}