@import "_stander.css";
@import "bootstrap-icons.css";

body {
    font-family: bootstrap-icons;
}

#navbar {
    height: 8vh;
}

#theme-control button {
    position: relative;
    width: 66px;
    height: 24px;
    margin-right: 10px;
    background-color: lightgray;
    border-radius: 12px;
    top: -2px;
}
#control-outer {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 1px;
    left: 3px;
    transition: all 0.5s ease;
}
#control-inner {
    position: relative;
    background-color: black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
    overflow: hidden;
}
#scheme-sun, #scheme-moon {
    fill: white;
    position: absolute;
    height: 12px;
    width: 12px;
    top: 4px;
    left: 4px;
    transition: all 0.5s ease;
}
[data-bs-theme=light] #control-outer {
    translate: 38px;
}
[data-bs-theme=dark] #control-outer {
    translate: 0;
}
[data-bs-theme=light] #control-inner {
   background-color: lightgray
}
[data-bs-theme=light] #theme-control button {
    background-color: gray
 }
[data-bs-theme=light] #scheme-sun, [data-bs-theme=light] #scheme-moon {
    fill: black
}
[data-bs-theme=light] #scheme-sun, [data-bs-theme=dark] #scheme-moon {
    opacity: 0
}
[data-bs-theme=dark] #scheme-sun, [data-bs-theme=light] #scheme-moon {
    opacity: 1
}
#gotop {
    position:fixed;
    background-color:var(--bs-dark-bg-subtle);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    bottom: 5rem;
    right: 1.8rem;
    border: 0;
    transition: background-color 0s ease, scale 0.2s ease-out;
    scale: 0;
}
#gotop::after {
    content:'';
    display: inline-block;
    mask: var(--arrow-top-icon) 50% / 2rem 2rem no-repeat;
    height: 100%;
    width: 100%;
    background-color:var(--bs-body-color);
}
#gotop:hover {
    background-color:var(--bs-dark-border-subtle)
}
#icp {
    position: fixed;
    background-color: var(--bs-body-bg);
    bottom: 0;
    padding: 1rem;
}
#icp p {
    margin: 0
}
@media (prefers-color-scheme:dark) {
    body,#icp,.form-control {
        background-color: #212529;
        border-color: #495057;
    }
    [data-bs-theme=light] body, [data-bs-theme=light] #icp, [data-bs-theme=light] .form-control{
        background-color: #fff;
        border-color: #495057;
    }
}

/*发布文章页css*/
#publish_post #content {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}
#content-controller {
    position: absolute;
    width: 16px;
    right: -26px;
    bottom: 1rem;
}
#content-controller button {
    padding: 0;
    margin-bottom: 0.2rem;
    border: none;
}
#flask-pagedown-content {
    scrollbar-width: none;
}
#publish_post #flask-pagedown-content-preview {
    padding: 0 0.5rem;
    white-space: normal;
    word-break: break-word;
    word-wrap: break-word;
}
#content .flask-pagedown {
    position: sticky;
    bottom: 3.5rem;
}
#post_submit {
    position: sticky;
    bottom: 1rem;
}
@media (prefers-color-scheme: dark) {
    #publish_post #category {
        background-color: #212529;
        border-color: #495057;
    }
    [data-bs-theme=light] #publish_post #category {
        background-color: #fff;
        border-color: #495057;
    }
}
::highlight(searchResult) {
    background-color: var(--select-body-bg);
    color: var(--select-body-color);
}

/*文章预览页*/
#post_category p {
    display: inline-block;
    margin:0 0.5rem 0 0;
    font-size: 0.8rem;
}