{% extends 'base.html' %}
{% import 'macros/post_list_item.html' as post_list_item %}
{% import 'macros/pagination.html' as render_pagination %}
{%block title%}NOC-电子烂笔头{%endblock%}
{% block page_content %}
<div class="row justify-content-center">
    <div class="col-10 col-lg-8">
        <div class="row justify-content-center" style="flex-wrap: nowrap">
            <div class="p-0 col-10 me-1" style="flex-basis: auto;position: relative;">
                <input type="text" class="form-control pe-4" placeholder="好记性不如烂笔头" id="notices-input" disabled>
                <button class="btn btn-close invisible" style="position: absolute" id="notices-input-clear"></button>
            </div>
            <div class="p-0 col-2" style="flex-basis: content">
                <button class="btn btn-outline-secondary" type="button" id="get-notices" disabled>记一下</button>
            </div>
        </div>
        <div style="padding: 0 2rem">
            <p style="font-size: 0.6rem">**数据默认保存时间为3天，要记在脑子里哦</p>
        </div>
        <div class="row" id="notices-homepage">
            <div id="notices-content" class="animate__animated animate__bounceIn overflow-y-scroll" name="if-show-control" style="position: relative;scrollbar-width: none;max-height: 80vh"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/homepage_notices.js')}}"></script>
<style>
    body {
        height: 100vh;
        overflow: hidden;
    }
</style>
{%endblock%}
